body{
    margin:0px;
    font-family:sans-serif;
    background-color:black;
}

.banner-table{
    width:100%;
}

.banner-table td{
    width:50%;
}

.top-image img{
    width:100%;
    height:400px;
}

.banner-title{
    display:block;
}

.banner-title h1{
    font-family:sans-serif;
    text-align:left;
    color:white;
    letter-spacing: 1px;
}

.banner-title button{
    font-family:sans-serif;
    border:1px solid white;
    text-align: left;
    text-decoration:none;
    background-color:black;
    color:white;
    padding:5px;
    transition:0.3s;
    letter-spacing: 1px;
}

.banner-title button:hover{
    cursor: pointer;
    text-decoration:underline;
    color:black;
    background-color:white;
    border:1px solid black;

}   

.banner-title img{
    width:360px;
    height:230px;
}

.filtering-table ul{
    width:80%;
    background-color:black;
    color:white;
    margin:auto;
    padding:6px;
    text-align:center;
    display:flex;
    justify-content: space-around;
}

.filtering-table ul li{
    text-decoration: none;
    list-style-type: none;
    color:white;
    border:1px solid white;
    padding:10px 15px;
    transition:0.5s;
    letter-spacing: 1px;
}

.filtering-table ul li:hover,
.filtering-table ul li.active{
    cursor: pointer;
    border:1px solid black;
    color:black;
    background-color:white;
    text-decoration: underline;
}

.news{
    margin:1rem 0;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:1rem;
}

.news .news-container{
    margin:auto auto;
    border:2px solid black;
    max-width:360px;
    width:360px;
    height:535px;
    font-size: .9rem;
    border-radius: 11px;
    transition: 0.3s;
    font-family: sans-serif;
    background-color:rgb(206, 204, 204);
    overflow:hidden;
    display:flex;
    flex-direction: column;
}

.news .news-container img{
   border-radius:0px;
   width:360px;
   height:230px;
   transition:0.5s;
   object-position: center;
}

.news .news-container img:hover{
    transform:scale(1.05);
}

.news .news-card img:hover{
    transform:scale(1);
}

.news .news-card{
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    height:300px;
}

.news .news-card h2{
    margin-left: 10px;
    text-decoration:none;
    width:80%;
    padding-top:0px;
}

.news .news-card h3{
    margin-left: 10px;
    text-decoration:none;
    width:80%;
    padding-top:0px;
    color:grey;
}

.news .news-card p{
    margin-left: 10px;
    text-decoration:none;
    width:95%;
    height:100%;
}

.news .news-card button{
    border:1px solid white;
    background-color:black;
    color:white;
    text-decoration:none;
    padding:10px;
    transition:0.3s linear;
    letter-spacing: 1px;
    margin:5px 120px;
}

.news .news-card button:hover{
    cursor:pointer;
    text-decoration:underline;
    border:1px solid black;
    color:black;
    background-color:white;
}

.view-more-button{
    padding:20px;
    margin:auto;
    text-align: center;
}

.view-more-button a{
    border:2px solid white;
    text-decoration: none;
    color:white;
    padding:10px;
    transition:0.2s;
    letter-spacing: 1px;
}

.view-more-button a:hover{
    text-decoration: underline;
    background-color:white;
    color:black;
}

.modal img{
    margin:0px 10px;
    width:360px;
    height:230px;
}


.modal{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transform:scale(1.1);
}

.modal-content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color:white;
    padding:1rem 1.5rem;
    width:24rem;
    border-radius:0.5rem;
}

.close{
    margin-left:97%;
    display:block;
    width:1.5rem;
    line-height:1.3rem;
    text-align: center;
    cursor:pointer;
    border-radius:0.25rem;
    background-color:lightgray;
    margin-bottom:5px;
}

.close:hover{
    background-color:darkgray
}

.show-modal{
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition:visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}


/*responsive design*/
@media only screen and (max-width: 700px){
    body{
        margin:0px;
    }

    .banner-table{
        width:100%;
    }

    .top-image img{
        width:100%;
    }

    .banner-table td{
        display:block;
        width:100%;
    }

    .banner-title h1{
        font-size:25px;
    }

    .filtering-table ul{
        padding-top:20px;
        width:50%;
        display:block;
    }

    .filtering-table ul li{
        padding:2px;
        margin-bottom:3px;
        letter-spacing: 1px;
    }

    .news{
        grid-template-columns: (1, 1fr);
        display:block;
    }

    .news .news-container{
        max-width:300px;
        width:100%;
        height:540px;
        margin:20px auto;
    }

    .news .news-container img{
        max-width:500px;
        width:100%;
        height:240px;
        margin:auto;
    }

    .news .news-card button{
        width:50%;
        margin:auto ;
        margin-bottom:5px;
    }

    .modal-content{
        width:20rem;
        margin:auto;
    }

    .modal-content img{
        margin:20px 20  px;
        width:300px;
        height:170px;
    }

    .close{
        width:1.7rem;
        line-height:1.5rem;
    }
}

@media only screen and (min-width:700px) and (max-width:1100px){
    body{
        margin:0px;
    }

    .banner-table{
        width:100%;
    }

    .banner-table td{
        width:100%;
        display:block;
        font-size:20px;
    }

    .banner-table .banner-title{
        margin:0px 20px;
    }

    .banner-title h1{
        margin-bottom:0px;
    }

    .banner-table .banner-title button{
        padding:20px;
        width:25%;
        text-align:center;
        font-size:18px;
        margin-bottom:5px;
    }

    .news{
        grid-template-columns: repeat(2, 1fr);
        display:grid;
    }
}

