body{
    background-color:black;
}

h1{
    color:white;
    font-family:sans-serif;
}

.locations{
    margin:1rem 0;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:1rem;
}

.locations .container{
    border:1px solid white;
    max-width:300px;
    width:100%;
    height:180px;
    font-size: .9rem;
    border-radius: 20px;
    transition: 0.3s;
    font-family: sans-serif;
    color:white;
}

.locations .outlets-name{
    text-align:center;
    margin-bottom:20px;
    margin:12px;
    justify-content: space-between
}

.locations .container:hover{
    border:4px solid white;
}

.locations .outlets-name a{
    text-decoration: none;
    color:white;
    font-family:Arial;
    transition: 0.3s;
}

.locations .outlets-name a:hover{
    text-decoration: underline;
}

.searching-container{
    width:600px;
}

.searching-container .search-location{
    width:70%;
    border:3px solid white;
    border-radius:8px;
    display:flex;
    flex-direction: center;
    align-items: center;
    background-color:black;
    height:25px;
    padding:0.3px;
}

.searching-container .search-location input{
   border:none;
   outline:none;
   box-shadow:none;
   width:95%;
   background-color:black;
   caret-color: white;
   color:white;
}

.searching-container .search-location-by-state{
    width:70%;
    border:3px solid white;
    border-radius:8px;
    display:flex;
    flex-direction: center;
    align-items: center;
    height:25px;
    background-color:black;
}

.searching-container select{
    border:none;
    outline:none;
    box-shadow:none;
    width:95%;
    background-color:black;
    color:white;
}

@media only screen and (max-width:600px){
    .locations{
        grid-template-columns: repeat(1, 1fr);
        display:block;
    }

    .locations .container{
        margin:auto;
        margin-top:20px;
    }
}

@media only screen and (min-width:600px) and (max-width:800px){
    .locations{
        grid-template-columns: repeat(2, 1fr);
        display:grid;
    }
}

@media only screen and (min-width:800px) and (max-width:1000px){
    .locations{
        grid-template-columns: repeat(3, 1fr);
        display:grid;
    }
}






