body{
    margin:0px;
    font-family: 'Lato', sans-serif;
    background-color:black;
}

.banner-table{
    width:100%;
}

.banner-table td{
    width:50%;
}

.top-image img{
    width:100%;
    height:700px;
}

.banner-title{
    display:block;
}

.banner-title h2{
    color:grey;
    margin-left:30px;
}

.banner-title h1{
    text-align:left;
    color:white;
    letter-spacing: 1px;
    margin-left:30px;
}

.center-box{
    text-align: center;
    margin-top:60px;
}
  
.display-text{
    display: inline-block;
}
  
.display-text h1, h2{
    color:white;
    text-align: left;
}

/*image column*/
.event-image{
    width:80%;
    margin-left:auto; 
    margin-right:auto; 
    margin-top:70px;
}
.event-image ul {
    display: flex;
    flex-wrap: wrap;
    margin: 2vmin;
    list-style:none;
    padding-left:0px;
}
  
.event-image li {
    height: 30vh;
    flex-grow: 1;
    margin: 1vmin;
    overflow:hidden;
}
  
.event-image li:last-child {
    flex-grow: 10;
}
  
.event-image img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    transition:0.5s ease-in-out;
}
.event-image img:hover{
    transform:scale(1.1);
}


/* The Modal popup */
.modal img{
    margin:auto;
    width:360px;
    height: 700px;
    object-fit:contain;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;

}
  
/* Modal Content(positioning) */
.modal-content {
    position: relative;
    /*background-color: #fefefe;*/
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/* Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #ffc600;
    text-decoration: none;
    cursor: pointer;
}
/*Share button
.share{
    color: white;
    position: absolute;
    top: 10px;
    right: 50px;
    font-size: 36px;
    font-weight: bold;
}*/

:root {
    --white: #fff;
    --black: #000;
    --icon-clr: #aaaaaa;
    --facebook-clr: #3b5998;
    --twitter-clr: #55acee;
    --instagram-clr: #bc2a8d;
    /*--reddit-clr: #ff4500;*/
    --tiktok-clr: #010101;
}
.wrapper {
    position: absolute;
    top: 10px;
    right: 50px;
}
.share-button {
    font-size: 36px;
    cursor: pointer;
    color:white;
}
.share-button .icon {
    display: flex;
}
  
.social-list {
    position: absolute;
}
  
.social-list ul {
    display: none;
    width: auto;
    background: var(--white);
    margin: 0 10px;
    border-radius: 25px;
    position: relative;
  }
  
.social-list ul li a {
    display: flex;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    justify-content: center;
    align-items: center;
    color: var(--icon-clr);
}
  
.social-list ul:before {
    content: "";
    position: absolute;
    border: 8px solid;
}
.share-wrapper .social-list {
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}
.share-wrapper .social-list ul {
    flex-direction: column;
    width: 175px;
    border-radius: 5px;
    list-style:none;
}
  
.share-wrapper .social-list ul li a {
    width: 100%;
    margin: 0;
    justify-content: unset;
    /*padding: 0 40px;*/
    text-decoration: none;
  }
  
.share-wrapper .social-list ul li a span {
    display: flex;
  }
  
.share-wrapper .social-list ul li a span.icon {
    width: 25px;
    margin-right: 10px;
  }
  
.share-wrapper .social-list ul li a span.text {
    width: 125px;
  }
  
.share-wrapper .social-list ul:before {
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    border-color: transparent transparent var(--white) transparent;
}
  
.share-wrapper .social-list ul li a.facebook span.icon,
.share-wrapper .social-list ul li a.facebook span.text:hover{
    color: var(--facebook-clr);
}
  
.share-wrapper .social-list ul li a.instagram span.icon,
.share-wrapper .social-list ul li a.instagram span.text:hover{
    color: var(--instagram-clr);
}
  
.share-wrapper .social-list ul li a.tiktok span.icon,
.share-wrapper .social-list ul li a.tiktok span.text:hover{
    color: var(--tiktok-clr);
}

.share-wrapper .social-list ul li a.twitter span.icon,
.share-wrapper .social-list ul li a.twitter span.text:hover{
    color: var(--twitter-clr);
} 
.share-wrapper .social-list ul li a.download span.icon,
.share-wrapper .social-list ul li a.download span.text:hover{
    color: var(--black);
} 


.share-button.active + .social-list ul {
    display: flex;
}

/*zoom button*/
.zoom-in{
    color: white;
    position: absolute;
    top: 10px;
    right: 120px;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
}
.zoom-out{
    color: white;
    position: absolute;
    top: 10px;
    right: 85px;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
}
.image-container {
	width: 100%;
	height: 100%;
	transition: all 0.1s ease;
}

.image-container img {
	width: 100%;
	transform: scale(1);
	transition: all 0.3s ease;
	touch-action: pan-y;
	user-select: none;
	-webkit-user-drag: none;
}

.image-container.zoom-in {
	cursor: -webkit-grab;
}

.image-container.zoom-in img {
	transform: scale(1.5);
}



/*fullscreen button*/
.fullscreen{
    color: white;
    position: absolute;
    top: 10px;
    right: 155px;
    font-size: 36px;
    font-weight: bold;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(255, 198, 0, 0.9);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 15px;
    left: 12px;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}



/*responsive design*/
@media only screen and (max-width: 700px){
    body{
        margin:0px;
    }

    .banner-table{
        width:100%;
    }

    .top-image img{
        width:100%;
    }

    .banner-table td{
        display:block;
        width:100%;
    }

    .banner-title h2{
        width:95%;
        margin:auto;
        font-size:20px;
    }

    .banner-title h1{
        width:95%;
        font-size:25px;
        margin:auto;
    }
    .center-box{
        margin:auto;
        margin:30px 25px 0px 38px;
    }
    .display-text h1{
        width:95%;
        font-size:30px;
        margin:auto;
    }
    .display-text h2{
        width:95%;
        font-size:20px;
        margin:auto;
    }
    .event-image img{
        height:300px;
        margin-bottom:16px;
    }
    .event image ul{
        margin-left:50px;
        margin-right:50px;
    }
    .modal img{
        margin-top:50px;
        margin-bottom:20px;
        margin-left:auto;
        margin-right:auto;
        width:360px;
        height:700px;
    }
    .close{
        top:40px;
        right: 15px;   
    }
    .share-button{
        margin-top:30px;
        right: 50px;
    }
    .social-list ul {
        padding-left:15px;
        padding-right:15px;
    }
    .share-wrapper .social-list ul {
        width:100px;
    }
    .share-wrapper .social-list {
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
    }
    .zoom-out{
        margin-top:30px;
        right: 85px;
    }
    .zoom-in{
        margin-top:30px;
        right: 120px;
    }
    .fullscreen{
        margin-top:30px;
        right: 155px;
    }
    .numbertext {
        top:50px;
        left: 4px;
        font-size:12px;
    }
}

@media only screen and (min-width:700px) and (max-width:1100px){
    body{
        margin:0px;
    }

    .banner-table{
        width:100%;
    }

    .banner-table td{
        width:100%;
        display:block;
        font-size:20px;
    }

    .banner-table .banner-title{
        margin:0px 20px;
    }

    .banner-title h1{
        margin-top:0px;
        margin-bottom:0px;
    }

    .banner-title h2{
        margin-bottom:0px;
    }

    .center-box{
        /*margin:0px 53px;*/
        margin:50px 110px;
    }
    .display-text h1{
        margin-top:0px;
        margin-bottom:0px;
        font-size:30px;
    }
    .display-text h2{
        margin-top:0px;
        margin-bottom:0px;
        font-size:20px;
    }
    .modal img{
        margin-top:120px;
        margin-bottom:50px;
        margin-left:auto;
        margin-right:auto;
        width:360px;
        height:900px;
    }
    .close{
        top: 30px;
        right: 15px;
        font-size:50px;
    }
    .share-button{
        margin-top:15px;
        margin-right:10px;
        font-size:50px;
    }
    .social-list ul {
        padding-left:15px;
        padding-right:15px;
    }
    .share-wrapper .social-list ul {
        width:110px;
    }
    .share-wrapper .social-list {
        top: 80px;
        left: 40%;
        transform: translateX(-50%);
    }
    .zoom-out{
        margin-top:15px;
        margin-right:15px;
        font-size:50px;
    }
    .zoom-in{
        margin-top:15px;
        margin-right:20px;
        font-size:50px;
    }
    .fullscreen{
        margin-top:15px;
        margin-right:25px;
        font-size:50px;
    }
    .numbertext {
        top:38px;
        left: 15px;
        font-size:20px;
    }
}

