body{
    background-color:black;
    margin:0px;
    padding:0;
    font-family:'Lato', sans-serif;
}

.top-banner table{
    max-height:600px;
}

.top-banner table td{
    width:50%;
}

.top-banner table .picture img{
    width:100%;
    height:500px;
}

.top-banner table .title h1, h2{
    margin-left:10px;
}
.top-banner table .title h1{
    font-size:40px;
}

.event-title{
    font-size:20px;
    margin-top:50px;
    margin-left:20%;
    margin-bottom:50px;
    width:70%;
    color:white;
}

.event{
    margin:1rem 0;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    gap:5px;
}

.event .event-container{
    width:240px;
    height:300px;
    display:flex;
    margin:5px auto;
    overflow:hidden;
}

.event .event-container img{
    border:1px solid black;
    width:240px;
    height:300px;
    transform:scale(1.05);
    transition:0.5s ease-in-out;
}

.event .event-container img:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.event .event-container #event-picture{
    position:fixed;
    z-index: 999;
    top:0; 
    left:0;
    width: 100%;
    height:100%;
    background:rgb(0,0,0,0.5);
    display:flex;
    align-items:center;
    visibility: hidden;
    opacity:0;
    transition:opacity ease 0.4s;
}

.modal{
    display:none;
    position:fixed;
    z-index: 1;
    left:0;
    top:0;
    width:100%;
    max-height:600px;
    height:100%;
    overflow:contain;
    background-color:rgba(0, 0, 0, 0.701);
}

.modal-content{
    position:relative;
    background-size:contain;
    margin:auto;
    margin-top:80px;
    margin-bottom:40px;
    padding:0px;
    width:90%;
    max-width:1200px;
    display:flex;
    justify-content: center;
}

.close-cursor{
    color:white;
    position:fixed;
    top:7px;
    right:25px;
    font-size:35px;
    font-weight:bold;
    margin-right:15px;
}

.close-cursor:hover , .close-cursor:focus{
    color:#999;
    text-decoration:none;
    cursor:pointer;
}

.my-slides{
    display:none;
}

.cursor{
    cursor: pointer;
}

.prev{
    left:0;
    border-radius:3px 0 0 3px;
    margin-left:20px;
}

.prev, .next{
    cursor: pointer;
    position: fixed;
    top:50%;
    width:auto;
    padding:16px;
    margin-top:-50px;
    color:white;
    font-weight:bold;
    font-size:40px;
    transition:0.6s ease-in-out;
    border-radius:0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next{
    right:0;
    border-radius:3px 0 0 3px;
    margin-right:20px;
}

.prev:hover, .next:hover{
    background-color:rgba(0,0,0,0.8);
}

.imageNumber{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.my-slides{
    max-width:700px;
    max-height:400px;
}

.my-slides img{
    max-width:700px;
    max-height:450px;
    width:auto;
    height:auto;
    display:flex;
    justify-content: center;
    margin:auto;
}

#spans{
    grid-column:span 2;
    width:493px;
}

#spans .event-picture img{
    width:493px;
}

.modal-header .full-screen{
    right: 160px;
    position: absolute;
    top: 17px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border:0px;
    font-size: 20px;
}

.modal-header .zoom{
    right: 120px;
    position: absolute;
    top: 17px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border:0px;
    font-size: 20px;
}

.modal-header button{
    padding:0px;
}

.modal-header button i{
    width:20px;
}

.modal-header .share-link{
    right: 80px;
    position: absolute;
    top: 17px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border:0px;
    font-size: 20px;
}

.modal-header button:hover{
    cursor: pointer;
    color:#999;
}

.modal .shrink{
    display:none;
}

.modal .unMag{
    display:none;
}

.img-magnifier-glass{
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 100px;
    height: 100px;
}

.fa{
    text-align:center;
    border-radius:1px;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    width:16px;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}

.fa-download {
    background-color:grey;
}

.share-modal .share-modal-content ul{
    text-decoration:none;
    list-style-type:none;
    margin-top:25px;
    padding:0px;
    margin-left:5px;
}

.share-modal .share-modal-content ul li a{
    text-decoration:none;
    color:black;
    transition:0.5s;
}

.share-modal .share-modal-content ul li a:hover{
    color:rgb(49, 49, 49);
}

.share-modal{
    display:none;
    position:fixed;
    z-index:1;
    right:80px;
    top:40px;
    width:20%;
    height:120px;
    overflow:auto;
    background-color:#fcd200;
    border-radius:10px;
    border:2px solid black;
}

.share-modal-content{
    margin:auto;
}

.close{
    color:black;
    position:absolute;
    margin-right:5px;
    top:0px;
    right:5px;
    font-size:30px;
    font-weight:bold;
}

.close:hover{
    color:grey;
    cursor:pointer;
    text-decoration:none;
}

/*responsive*/
@media only screen and (max-width:700px){
    body{
        margin:0;
    }

    .top-banner table{
        width:100%;
    }

    .top-banner table td{
        margin:0px;
        display:block;
        width:100%;
        padding:inherit;
    }

    .top-banner table .picture img{
        width:100%;
        height:400px;
    }

    .top-banner table .title{
        margin-top:0px;
        height:100px;
        border-bottom:2px solid #fcd200;
    }

    .top-banner table .title h1, h2{
        color:#fcd200;
        margin-top:5px;
        font-size:20px;
        vertical-align: center;
    }

    .event{
        width:100%;
        grid-template-columns: repeat(1, 1fr);
        margin:auto;
        gap:1px;
    }

    .event .event-container{
        width:280px;
        height:350px;
    }
    
    .event .event-container img{
        width:280px;
        height:350px;
    }

    .event-title{
        font-size:8px;
        margin-top:20px;
        width:80%;  
        margin-left:10%;
    }

    .event .event-container #event-picture img{
        width:100%;
        height:100%; /*put auto to view original image but wont zoom to full screen(based on resolution)*/
        object-fit: cover;
        object-position: center;
    }

    #spans{
        grid-column:span 1;
        width:280px;
    }
    
    #spans .event-picture img{
        width:280px;
    }

    .modal{
        max-height:700px;
    }

    .my-slides{
        max-width:700px;
        max-height:400px;
    }
    
    .my-slides img{
        max-width: 350px;
        max-height: 450px;
        margin-top: 80px
    }

    .prev{
        left:15px;
    }

    .next{
        right:15px;
    }

    .prev, .next{
        padding: 0px;
        top: 95%;
    }

    .prev:hover, .next:hover{
        color:#fcd200;
        background-color:rgba(0, 0, 0, 0);
    }

    .modal-content{
        margin-top:50px;
    }
    
    .close-cursor{
        right:10px;
        margin-right:0px;
    }

    .share-modal{
        width:50%;
    }



}

@media only screen and (min-width:700px) and (max-width:1100px){
    body{
        margin:0;
    }

    .top-banner table{
        width:100%;
    }

    .top-banner table td{
        margin:0px;
        display:block;
        width:100%;
        padding:inherit;
    }

    .top-banner table .picture img{
        width:100%;
        height:520px;
    }

    .top-banner table .title{
        margin-top:0px;
        height:100px;
        border-bottom:2px solid #fcd200;
    }

    .top-banner table .title h1, h2{
        color:#fcd200;
        margin-top:5px;
        font-size:25px;
        vertical-align: center;
    }

    .event{
        width:100%;
        grid-template-columns: repeat(3, 1fr);
        margin:auto;
        gap:3px;
    }

    .event .event-container{
        width:250px;
        height:270px;
    }
    
    .event .event-container img{
        width:250px;
        height:270px;
    }

    .event-title{
        font-size:15px;
        margin-top:20px;
        width:80%;  
        margin-left:10%;
    }

    .event .event-container #event-picture img{
        width:100%;
        height:100%; /*put auto to view original image but wont zoom to full screen(based on resolution)*/
        object-fit: cover;
        object-position: center;
    }

    .close-cursor{
        right:12px;
        margin-right:0px;
        top:5px;
        font-size:40px;
    }
}



